/*today*/
p{font-family: ".Pingfang SC","锐字巅峰粗黑简1.0";font-size: 33px;font-weight:bold ; text-align:center}
#www +p{color: blueviolet}
p{color: #6DDCBD;}
.c1{color: #a41515;background: #6DDCBD}
#w1{color: #333333;height: 111px; background: #747755}
#p2{color: #993300}
#e3{color: #333333}

